{% extends 'base.html' %}

{% block title %}courses{% endblock %}

{% block content %}
<div class="container">
    <div class="tag-filter-section course-filter">
        <h1>Course Tag</h1>
        <form id="tag-filter-form" method="get" action="{{ url_for('main.courses') }}">
            <div class="tag-checkbox-container tag-filter-box">
                {% for tag in tags %}
                <fieldset>
                    <legend>📖 🏷️</legend>
                    <div class="tag-checkbox tag-filter">
                        <input type="checkbox" name="tag" value="{{ tag.id }}" id="tag-{{ tag.id }}" {% if tag.id in
                            selected_tags %}checked{% endif %}>
                        <label for="tag-{{ tag.id }}">{{ tag.name }}</label>
                    </div>
                </fieldset>
                {% endfor %}
            </div>
            <div class="filter-submit">
                <button type="submit" class="btn btn-warning">Screening Courses</button>
            </div>
        </form>
    </div>
</div>
<!-- second section -->
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        {% if courses.items %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for course in courses.items %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="course-media">
                        {% if course.image_url %}
                        <img src="{{ course.image_url }}" class="card-img-top" alt="{{ course.title }}">
                        {% elif course.video_url %}
                        <video class="card-img-top" controls>
                            <source src="{{ course.video_url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        {% else %}
                        <svg class="bd-placeholder-img card-img-top" role="img" aria-label="Placeholder: Media"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" />
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">No media available</text>
                        </svg>
                        {% endif %}
                    </div>
                    <div class="card-body course-info">
                        <div class="card-title">{{ course.title }}</div>
                        <p class="card-text">{{ course.description }}</p>
                        <div class="course-tags">
                            {% for tag in course.tags %}
                            <span class="badge bg-secondary">{{ tag.name }}</span>
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-auto">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary course-button"><a
                                        href="{{ url_for('main.course_detail', course_id=course.id) }}"
                                        class="text-decoration-none ">Course details</a></button>
                            </div>
                            <small class="text-body-secondary">{{ course.created_at.strftime('%Y-%m-%d') }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% else %}
        <p>You have no courses yet.</p>
        {% endif %}
        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if courses.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('main.courses', page=courses.prev_num, tag=selected_tags) }}"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for page_num in courses.iter_pages() %}
                <li class="page-item {% if page_num == courses.page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('main.courses', page=page_num, tag=selected_tags) }}">{{
                        page_num
                        }}</a>
                </li>
                {% endfor %}
                {% if courses.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('main.courses', page=courses.next_num, tag=selected_tags) }}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>


{% endblock %}